#auth-image {
width: 25px;
height: 25px;
}

body {
    background-image: url(/Images/cloth.png);
    font-size: 24px;
    line-height: 36px;
    font-family: 'Teko', sans-serif;
    color: black;
    width: 100%;
    text-align: center;
}

h1, h2, h3, p {
    margin-bottom: 
    20px;
}

p:last-child {
    margin-bottom: 0;
}

h1{
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    color: #cccccc;
    text-align: left;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    font-size: 30px;
    border-bottom: 3px solid #ddd;
}

h2, h3, h4 {
    line-height: 5px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
    font-size: 22px;
    align-content: center;
}


.container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    clear: both;
}

#header {
    background: #ffffff;
    margin: 0 0 30px;
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom: 2px solid #cccccc;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: right;
}

#logo {
    width: 250px;
    height: 90px;
    background: #4aaaa5;
    float: left;
    font-family: 'Teko', sans-serif;
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    text-decoration: none; 
}

.nav {
    color: #999999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: #efefef;
    padding-left: 15px;
    line-height: 18px
}

.nav a:first-child {
    border-left: 0 none;

}

.main-container {
    background:#fff;
    margin-left: auto;
    margin-right: auto;
}


.footer {
    background: #666666;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #cccccc;
    font-size: 12px;
    text-align: center;
    width: 100%;
    bottom: 0,
}

.work {
    overflow: auto;
    margin: 20px 20px 25px;
    text-align: center;
}

.work img {
    width: 250px;
    border: 0 none;
    height: 200px;
}

#contact-form ul{
    margin-bottom: 20px;
}

#contact-form li{
    margin-bottom: 10px;
}

label
input [type=text]
input [type=email]
textarea {
    display: block;
    width: 100%;
}

input [type=text]
input [type=email]
textarea {
   height: 35px;
    border: 1px solid #ddd;
    font-size: 14px;
}

input [type=submit] {
    background: #4aaaa5;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 36px;
    cursor: pointer;
}